$isLtr: true !default;
$float: left !default;
$float-opposite: right !default;
$space: left !default;
$space-opposite: right !default;

$one-px: 0.0625rem;

// Colors
$color-main: #066ce3;
$color-main-light: transparentize($color-main, 0.4);
$color-gray-dark: #9a9a9a;
$color-gray-lightest: #e9e9e9;
$color-gray-light: #dddddd;
$color-gray: #f0f0f0;
$color-white: #fff;
$color-black: #000;
$color-attention: #ff1616;
$color-featured: #f19600;
$color-active: #8d74e5;
$color-green: #52b600;
$color-red: #e44848;
$color-red-light: #ff5d5d;
$color-pink: #c95265;

$disabled-color: #f3f3f3;
$disabled-bg: $color-gray-light;

$border-color-default: $color-gray-light;
$border-color-dark: #b2b2b2;
$border-width-default: $one-px;
$border-width-wide: $border-width-default * 2;

// Font
$font-color-dark: #444444;
$font-color-gray: #888888;
$font-size-xs: 0.625rem;
$font-size-small: 0.75rem;
$font-size-default: 0.875rem;
$font-size-normal: 1rem;
$font-size-large: 1.125rem;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Default sizes
$input-height: 2.375rem;
$spacer: 0.625rem;
$grid-gutter: 1.875rem;
$tap-zone: (sm: 2.375rem, lg: 2.75rem);
$line-height: 1.4;
$icon-size-default: 1.125rem;
$icon-size-lg: 1.375rem;

// Time
$time-animation: 0.5s;
$time-transition: 0.4s;

// Typo
$h1-font-color: $font-color-dark;
$h1-font-size: $font-size-large;

// Elements
$button-height: $input-height;
$button-line-height: 1.125rem;
$button-padding-y: 0.375rem;
$button-border-width: 0.125rem;
$button-border-color: $border-color-default;
$button-border-color-hover: #cccccc;
$button-border-color-focus: $border-color-dark;
$auto-complete-input-width: (sm: 275px, md: 375px, lg: 298px, xl: 397px);
$mobile-menu-width: 16.875rem;
$grid-nav-height: 2.125rem;
$switcher-bg: #969696;

// Images
$image-width-small: 120px;
$image-height-small: 80px;
$no-image-bg: #f2f2f2;
$no-image-bg-sidebar: #e2e2e2;

// COMMON
// Logo
$logo-width: 121px;
$logo-height: 28px;

// Mask
$mask-z-index: 999;
$mask-bg: rgba(0, 0, 0, 0.4);

// Menu
$menu-padding: 27px;
$menu-item-padding: 9px;
$menu-button-item-height: 2px;
$menu-button-item-margin: 6px;

// Mobile menu
$mobile-menu-z-index: 8000;
$mobile-menu-padding-y: $spacer * 0.6;

// Top navigation
$top-nav-margin-top: 19px;
$top-nav-header-padding-y: 0.75rem;

// Circle
$circle-width: 1.375rem;
$circle-height: $circle-width;
$circle-border-width: $border-width-wide;
$circle-margin-x: 8px;
$circle-content-width: 144px;
$circle-content-z-index: 120;
$circle-content-user-navbar-width: 266px;

// Auto complete search
$auto-complete-height: $input-height;
$auto-complete-border-color: $border-color-default;
$auto-complete-background: $color-white;
$auto-complete-category-dropdown-bg: #f6f6f6;

// Sidebar
$sidebar-height: 3.875rem;

// Footer
$footer-scroll-top-width: 42px;

// Breadcrumbs
$breadcrumb-delimeter-color: #b2b2b2;
$breadcrumb-link-color: #999999;
$breadcrumb-link-color-hover: $font-color-dark;
$breadcrumb-link-padding: 10px;
$breadcrumb-margin-top: 19px;

// Listings
$listing-views: (list: "list", grid: "grid", map: "map");
$listing-positions: (cb: "content_block", lt: "listing_type");
$listing-list-picture-width: $image-width-small;
$listing-list-picture-height: $image-height-small;
$listing-list-ad-info-max-width: (xl: 500px, lg: 400px, md: 420px, sm: 300px);
$listing-price-height: 35px;

// Form components
// Password strength
$password-strength-scale-width: 71px;
$password-strength-scale-height: 7px;
$password-strength-scale-bg: #dfdfdf;
$password-strength-scale-green: #23a50c;
$password-strength-scale-yellow: #ebcc00;
$password-strength-color-red: #ed2f0b;

// Table cell
$table-cell-name-color: #b0b0b0;

// Submit cell
$submit-cell-name-width: 160px;

// Map
$map-min-height: 65vh;
$map-container-bg: $color-gray-lightest;
$map-search-width: 118px;
$map-loader-width: 30px;
$map-loader-small-width: 24px;

// Modal
$modal-mask-bg: transparentize($color-black, 0.5);

// Notification
$notification-min-height: 46px;
$notification-bg-color-notice: #a4e9a8;
$notification-bg-color-error: #f2695e;
$notification-bg-color-warning: #dab500;

// Steps
$steps-height: 44px;
$steps-bg: #e1e1e1;
$steps-next-color: #5c5c5c;

// Pills
$pills-height: 34px;
$pills-border-color: #c2c2c2;
$pills-checked-bg: #c2c2c2;

// Fileupload
$file-upload-image-width: 160px;
$file-upload-image-height: 110px;

// Image
$image-preview-width: 200px;
$image-preview-height: 100px;

// Payment
$payment-box-width: 120px;
$payment-box-height: 85px;

// Statuses
$statuses-color: #63b53b;
$statuses-color-approval: #666666;
$statuses-color-incomplete: #2767b5;
$statuses-color-pending: #e88d22;
$statuses-color-expired: #fb0000;
$statuses-color-paid: #63b53b;
$statuses-color-unpaid: #fb0000;
$statuses-bg: #63b53b;

// Packages
$packages-border-color: $color-gray-lightest;
$packages-title-color: #393939;
$packages-price-color: #3a3a3a;
$packages-price-font-size: 2.429em;
$packages-color-active: #63b53b;
$packages-color-overdue: #a52323;

// Table
$table-header-height: 28px;
$table-header-font-size: 0.813rem;
$table-header-color: #8e8e8e;
$table-row-padding-x: 11px;
$table-row-color: #111111;
$table-text-color: #515151;
$table-name-width: 150px;
$table-border-spacing: $border-width-wide;
$table-mass-action-font-size: 0.813rem;
$table-mass-action-color: #5c5c5c;

// Scroll bar
$msc-tools-width: 4px;
$msc-dragger-width: 3px;

// Other
$triangles: (small_gray: "smallgray", sort_green: "sortgreen");

// Warning button
$color-warning-bg: #c51c1c;
$color-warning-bg-hover: #d62c2c;
