@media screen and (max-width: 767px) {
  div.gallery {
    max-width: 100%;
    flex: 0 0 100%; } }

@media screen and (max-width: 767px) {
  div.gallery > div.thumbs {
    display: block;
    height: auto;
    width: 100%;
    top: 0;
    padding: 0; } }

div.gallery > div.thumbs span.play {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  background: url("../../img/play.svg") center center no-repeat rgba(0, 0, 0, 0.2);
  margin: 2px;
  background-size: contain;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    div.gallery > div.thumbs span.play {
      border-radius: 2px; } }

@media screen and (max-width: 767px) {
  div.gallery > div.thumbs .f-carousel__viewport {
    margin: 0;
    padding: 0;
    background-color: #e2e2e2; } }

@media screen and (min-width: 768px) {
  div.gallery > div.thumbs .f-carousel__track {
    margin-left: -2.5px;
    margin-right: -2.5px; }
    div.gallery > div.thumbs .f-carousel__track > *:first-of-type {
      max-width: 100%;
      flex-basis: 100%; } }

div.gallery > div.thumbs .f-button {
  --f-button-svg-width: 80%;
  --f-button-svg-height: 80%; }
  @media screen and (max-width: 767px) {
    div.gallery > div.thumbs .f-button {
      height: 100%;
      width: 30px;
      background: transparent; }
      div.gallery > div.thumbs .f-button:hover {
        background: transparent; } }
  div.gallery > div.thumbs .f-button.is-prev {
    right: 15px !important; }
  div.gallery > div.thumbs .f-button.is-next {
    left: 15px !important; }
  @media screen and (max-width: 767px) {
    div.gallery > div.thumbs .f-button > svg {
      width: 80%;
      height: 80%;
      color: white;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6)); } }

div.gallery > div.thumbs .f-carousel__slide {
  padding: 0;
  flex: 0 0 50%;
  width: 50%;
  overflow: unset; }
  @media screen and (max-width: 767px) {
    div.gallery > div.thumbs .f-carousel__slide {
      flex: 0 0 90%;
      width: 90%;
      margin: 0; } }
  @media screen and (min-width: 768px) {
    div.gallery > div.thumbs .f-carousel__slide:nth-child(n+8) {
      display: none; }
    div.gallery > div.thumbs .f-carousel__slide:nth-child(7) > .f-carousel__wrapper span {
      display: none; }
    div.gallery > div.thumbs .f-carousel__slide:nth-child(7) > .f-carousel__wrapper:after {
      content: attr(data-rest-text);
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      margin: 2px;
      position: absolute;
      background: #e8ecf1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 0.938em;
      cursor: pointer;
      color: inherit; } }
  div.gallery > div.thumbs .f-carousel__slide img,
  div.gallery > div.thumbs .f-carousel__slide video {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    background: transparent; }
    @media screen and (min-width: 768px) {
      div.gallery > div.thumbs .f-carousel__slide img,
      div.gallery > div.thumbs .f-carousel__slide video {
        border: 2px #c4d1df solid;
        border-radius: 3px; } }
    @media screen and (max-width: 767px) {
      div.gallery > div.thumbs .f-carousel__slide img,
      div.gallery > div.thumbs .f-carousel__slide video {
        border: 0; } }
  div.gallery > div.thumbs .f-carousel__slide.locked img {
    background-color: #eeeeee;
    background-image: url("../../img/lock.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto; }
    @media screen and (max-width: 767px) {
      div.gallery > div.thumbs .f-carousel__slide.locked img {
        background-size: auto 50%; } }

div.gallery > div.thumbs .f-carousel__wrapper {
  position: relative;
  padding-bottom: 66%; }
  @media screen and (min-width: 768px) {
    div.gallery > div.thumbs .f-carousel__wrapper {
      margin-bottom: 5px;
      margin-left: 2.5px;
      margin-right: 2.5px; } }

div.gallery .has-dots {
  margin-bottom: 0; }

.listing-fit-contain .f-carousel__slide img {
  object-fit: contain !important; }

.picture_locked {
  height: 100%;
  background-color: #eeeeee; }
  .picture_locked > div {
    height: 100%;
    display: flex; }
    .picture_locked > div > div {
      width: 100%;
      align-self: center; }

.restricted-content img.locked-media {
  width: 96px;
  height: 142px;
  background: url("../../img/lock.svg") center center no-repeat;
  text-align: center;
  margin-bottom: 20px;
  background-size: cover;
  filter: none; }

.f-carousel__track .f-carousel__slide.has-video:after {
  content: '';
  position: absolute;
  width: 64px;
  height: 64px;
  background: url("../../img/play.svg") center center no-repeat;
  background-size: cover; }

.f-carousel__track .f-carousel__slide.has-html5video .fancybox__thumb {
  background-size: contain; }
