.geo-autocomplete {
  position: absolute;
  border: 2px #f1f1f1 solid;
  display: none;
  background: white;
  min-width: 100px;
  z-index: 2000;
  border-radius: 0; }
  .geo-autocomplete > div {
    padding: 8px 10px;
    cursor: pointer; }
    .geo-autocomplete > div > div {
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      font-size: inherit; }
    .geo-autocomplete > div:hover, .geo-autocomplete > div.geo-autocomplete__item_active {
      background: #e9e9e9; }
  .geo-autocomplete_open {
    display: block; }
