.contact-owner-navbar {
  position: fixed;
  left: 0;
  z-index: 99;
  bottom: 0;
  box-shadow: 0px 5px 15px -3px black; }

input.call-owner,
.side_block input[type=button].call-owner {
  border-color: #45b150;
  color: white;
  background: linear-gradient(to bottom, #45b150, #30993b);
  background-color: linear-gradient(to bottom, #45b150, #30993b); }
  input.call-owner:hover,
  .side_block input[type=button].call-owner:hover {
    background-color: #30993b;
    box-shadow: none;
    color: white; }

.side_block input[type=button].call-owner {
  background: linear-gradient(to bottom, #45b150, #30993b);
  color: white !important; }
  .side_block input[type=button].call-owner:hover {
    background: #30993b !important;
    color: white !important; }
