/*** Map ***/

// LT map
#listings_map,
#accounts_map {
  min-height: $map-min-height;
}

#map_fullscreen {
    width: 100%;
    height: 100%;
}

.close.small:before {
    width: 17px !important;
    height: 17px !important;
    background-position:  0 -124px !important;
}

// Map capture
.map-capture {
  position: relative;
  border: $border-width-default solid $border-color-default;
  cursor: pointer;

  @include respond_to(mobile_xs) {
    margin-top: $grid-gutter / 2;
  }

  img {
    width: 100%;
    object-fit: cover;
    min-height: 160px;
  }

  .media-enlarge {
    position: absolute;
    top: 10px;
    right: 10px;

    > span {
      position: relative;
      cursor: pointer;
      display: inline-block;
      width: $button-height;
      height: $button-height;
      background: transparentize($color-black, 0.3);

      &:hover:before {
        opacity: 1;
      }

      &:before {
        content: "";
        width: $icon-size-default;
        height: $icon-size-default;
        opacity: 0.7;

        @include transition(opacity);

        background: url(../img/gallery.png) 100% -70px no-repeat;

        @include absolute_center($icon-size-default, $icon-size-default);

        @include gallery_retina;
      }
    }
  }
}

.map-listing .favorite {
    margin: -10px;
}

.sidebar-content .map-capture {
    margin: 20px -30px 0;
}
