/*** Tabs ***/
ul.tabs {
  border-bottom: $border-width-default solid $border-color-default;
  margin-bottom: $spacer * 3;
  white-space: nowrap;
  margin-left: -$grid-gutter / 2;
  margin-right: -$grid-gutter / 2;
  position: relative;

  > li {
    display: inline-block;
    margin-bottom: -1px;

    &.more {
      position: absolute;
      top: 0;
      #{$space-opposite}: 0;
      width: $button-height;
      height: $button-height;
      line-height: $button-height - 0.375rem;
      text-align: center;

      @include respond_to(mobile_xs) {
        #{$space-opposite}: $grid-gutter / 2;
         top: unset;
         #{$space-opposite}: 0;
      }


      > span {
        background: $font-color-dark;
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: $border-width-wide;
        margin: 0 1px;
      }

      &:hover {
        > span {
          background: $color-main;
        }
      }

      &.opened {
        > span {
          background: $color-active;
          z-index: 42;
        }
      }
    }

    &.overflowed {
      display: none;
      position: absolute;
      #{$space-opposite}: 0;
      z-index: 41;

      @include circle_styles;

      @include circle_list;

      @include respond_to(mobile_xs) {
        #{$space-opposite}: 0;
      }


      &.opened {
        display: block;
      }
    }

    > a {
      display: inline-block;

      @include button_base;
    }

    &.active {
      > a {
        color: $font-color-dark;
        box-shadow: inset 0 -3px 0 0 $color-active;
      }
    }
  }
}
