/*** Upload fields ***/

// File input
.file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  width: 100%;

  @include respond_to(mobile_xs) {
    @include flex_block;

    @include flex_wrap("nowrap");

    > input.file-name {
      @include flex(1);
    }

    > span {
      @include flex(0, 0, 0);
    }
  }


  input.file {
    position: absolute;
    #{$space}: 0;
    height: $spacer * 4;
    opacity: 0;
    cursor: pointer;
    z-index: 100;

    &:hover ~ input.file-name {
      border-color: $button-border-color-hover;
    }

    &:hover ~ span {
      background: $color-main;
    }
  }

  input.file-name {
    position: relative;
  }

  span {
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    margin-left: 3px;

    & + em {
      padding-top: $spacer / 2;
      display: block;
      line-height: initial;
    }
  }

  & + em {
    padding-top: $spacer / 2;
    display: block;
    line-height: initial;
  }
}

.image-field-preview {
  margin-bottom: $spacer;

  > div.relative {
    width: 100%;
  }
}

// File upload
label.upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.files canvas,
.files div.canvas > div {
  display: block;
  width: $file-upload-image-width !important;
  height: $file-upload-image-height !important;
  background: #f5f5f5;
}

#fileupload {
  padding: 0 0 ($spacer * 2);
  user-select: none;

  img {
    &.manage,
    &.delete,
    &.cancel,
    &.crop {
      width: $icon-size-default;
      height: $icon-size-default;
      background: url("../img/gallery.png") 0 -300px no-repeat;
      cursor: pointer;
      position: absolute;
      right: 30px;
      top: $spacer / 2;
      opacity: 0.7;

      @include gallery_retina;
    }

    &.delete,
    &.cancel {
      background-position: (-18px) -300px;
      right: 0;
    }

    &.crop {
      background-position: 0 -336px;
      right: 62px;
    }

    &:hover {
      opacity: 1;
    }
  }

  > form {
    margin-left: 2px;
  }

  img.thumbnail,
  canvas {
    width: $file-upload-image-width;
    height: $file-upload-image-height;
    background: #f5f5f5;

    &:hover {
      box-shadow: inset 0 0 0 $border-width-wide $color-main;
    }
  }

  .active {
    color: inherit !important;
    font-size: inherit !important;
  }

  .allowed {
    display: block;
  }

  .progress {
    top: 95px;
    display: inline-block;
    height: 15px;
    position: absolute;
    width: 100%;
    background: none;
    margin: 0;
    opacity: 0.4;

    div {
      height: 15px;
      background: #8bb8d0 !important;
      border-radius: 0 !important;
      border: 0 !important;
    }

    &.progress-success {
      display: none;
    }
  }

  .active,
  .hover {
    position: relative;
    display: inline-block;
    margin: 0 ($grid-gutter / 2) $spacer 0;
    vertical-align: top;
    width: 160px;
    height: 140px;
    background: none;
    padding: 0;
  }

  .hover {
    background: #dff4d8;
  }

  .draft {
    width: $file-upload-image-width;
    height: $file-upload-image-height;
    margin: 0 0 ($spacer * 2) 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    background: $color-gray-lightest;

    > span {
      display: block;

      &.icon {
        width: 40px;
        height: 28px;
        background: url("../img/gallery.png") 0 -270px no-repeat;
        margin: ($spacer * 1.5) auto;
      }
    }
  }

  .photo_navbar {
    height: $icon-size-default + $spacer / 2;
    position: relative;
    padding: ($spacer / 2) 0 0 0;

    .primary {
      input {
        display: block !important;
        margin-top: 2px;
      }
    }
  }
  &.photo_required span.item:only-child img.delete {
    display: none;
  }
  &.photo_required span.item:only-child img.manage {
    right: 10px;
  }
}

ul.thumbnails {
  li.hover {
    background: #dff4d8;
  }
}

#local_video {
  .submit-cell {
    .field {
      @include flex_direction("column");

      > div {
        &:not(.file-input) {
          line-height: initial;
          padding-top: $spacer / 2;
        }
      }
    }
  }
}
