.ui-sortable-placeholder {
  visibility: visible !important;
  height: auto; }
  .ui-sortable-placeholder:after {
    content: '';
    display: block;
    width: 100%;
    opacity: .3;
    background: #2a5d86;
    padding-bottom: 66%; }
