body.search-on-map-page {
  max-height: 100%;
  overflow: hidden; }
  body.search-on-map-page header.page-header div.top-search {
    padding-right: 0; }
  body.search-on-map-page #mobile-sidebar,
  body.search-on-map-page .footer-sidebar {
    display: none !important; }
  body.search-on-map-page #mobile-header .container {
    max-width: none; }
  body.search-on-map-page #logo {
    margin: 0 0 0 42px; }
  body.search-on-map-page section.main-menu {
    padding: 1.25rem 0.9375rem 14px; }
    body.search-on-map-page section.main-menu nav.menu {
      border: none;
      padding: 0; }
      body.search-on-map-page section.main-menu nav.menu span.menu-button {
        position: absolute;
        top: 15px;
        left: 8px;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        cursor: pointer; }
        body.search-on-map-page section.main-menu nav.menu span.menu-button > span {
          display: block;
          margin: 6px auto 0;
          width: 1.375rem;
          height: 2px;
          background: #2f2f2f;
          border-radius: 1px; }
          body.search-on-map-page section.main-menu nav.menu span.menu-button > span:first-child {
            margin-top: 8px; }
      body.search-on-map-page section.main-menu nav.menu .menu-toggle,
      body.search-on-map-page section.main-menu nav.menu .add-property,
      body.search-on-map-page section.main-menu nav.menu ul.menu {
        display: none !important; }
  body.search-on-map-page .top-search .add-property {
    margin: 0 0 0 1.875rem; }
  body.search-on-map-page .main-wrapper {
    max-width: none;
    max-width: 100%;
    min-height: 0;
    flex: 1 1 100%; }
    @media screen and (max-width: 767px) {
      body.search-on-map-page .main-wrapper {
        padding: 0; } }
    body.search-on-map-page .main-wrapper > .row {
      margin: 0;
      max-width: 100%;
      min-height: 0;
      flex: 1 1 100%; }
      @media screen and (max-width: 575px) {
        body.search-on-map-page .main-wrapper > .row {
          flex-direction: column; }
          body.search-on-map-page .main-wrapper > .row > div[class*="col-"] {
            max-width: 100%;
            min-height: 0;
            flex: 1 0 100%; } }
      body.search-on-map-page .main-wrapper > .row > div[class*="col-"] {
        display: flex;
        max-width: 100%;
        min-height: 0;
        flex: 1 1 100%;
        padding: 0; }
  body.search-on-map-page .page-header {
    max-width: none;
    min-height: 0;
    flex: 0 0 auto; }
  body.search-on-map-page #main_container {
    padding: 0;
    height: 100%;
    width: 100%; }
    @media screen and (max-width: 575px) {
      body.search-on-map-page #main_container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; } }
    body.search-on-map-page #main_container > .inside-container {
      padding: 0;
      height: 100%; }
      @media screen and (max-width: 767px) {
        body.search-on-map-page #main_container > .inside-container {
          margin-left: 0;
          margin-right: 0; } }
  body.search-on-map-page #content {
    padding: 0; }
    @media screen and (max-width: 575px) {
      body.search-on-map-page #content {
        display: flex;
        flex-direction: column; } }
  body.search-on-map-page #controller_area {
    width: 100%;
    height: 100%;
    padding-bottom: 0; }
    @media screen and (max-width: 575px) {
      body.search-on-map-page #controller_area {
        max-width: 100%;
        min-height: 0;
        flex: 1 0 100%; } }
  body.search-on-map-page .search-map-container {
    display: flex;
    height: 100%; }
    @media screen and (max-width: 575px) {
      body.search-on-map-page .search-map-container {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; } }
  body.search-on-map-page .search-block-content form .search-form-cell {
    width: 50%;
    display: inline-block;
    vertical-align: top; }
    body.search-on-map-page .search-block-content form .search-form-cell:nth-of-type(even) {
      padding-left: 0.9375rem;
      padding-right: 0; }
    body.search-on-map-page .search-block-content form .search-form-cell:nth-of-type(odd) {
      padding-right: 0.9375rem;
      padding-left: 0; }
      body.search-on-map-page .search-block-content form .search-form-cell:nth-of-type(odd).submit > div > span {
        display: none; }
    body.search-on-map-page .search-block-content form .search-form-cell.couple-field > div > div {
      padding-top: 8px; }
    body.search-on-map-page .search-block-content form .search-form-cell.couple-field .custom-input {
      margin-right: 0.625rem; }
    body.search-on-map-page .search-block-content form .search-form-cell.submit > div > span {
      height: 22px; }
  @media screen and (max-width: 575px) {
    body.search-on-map-page .search-block-content form {
      overflow: scroll; }
      body.search-on-map-page .search-block-content form .search-form-cell {
        width: 100%;
        padding: 0 !important; } }

#listings_area {
  display: flex;
  flex-direction: column;
  max-width: none;
  min-height: 0;
  flex: 1 0 0;
  overflow: auto; }

.map-search #map_container {
  width: 100%;
  height: 100%; }

#map_area {
  width: 100%;
  height: 100%;
  display: flex; }

#map_listings {
  width: 50%;
  max-width: 650px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 0.4s; }
  @media screen and (max-width: 1199px) {
    #map_listings {
      width: 50%; } }
  @media screen and (max-width: 767px) {
    #map_listings {
      width: 100%; } }
  #map_listings div.picture mark.group {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    line-height: 100%;
    display: flex;
    align-items: center; }
    #map_listings div.picture mark.group span {
      color: white;
      font-size: 1.071em;
      padding: 0 20px;
      line-height: 24px;
      text-align: center;
      display: inline-block;
      margin: auto; }
  #map_listings footer {
    margin-left: -1.875rem;
    margin-right: -1.875rem;
    padding: 0.625rem 1.875rem 0.625rem;
    border-top: 0.0625rem solid #dddddd; }

@media screen and (max-width: 767px) {
  .search-map-container {
    padding-bottom: 46px; }
    .search-map-container #listings_cont,
    .search-map-container #search_area {
      display: none; }
      .search-map-container #listings_cont ul.tabs,
      .search-map-container #search_area ul.tabs {
        margin-left: 0;
        margin-right: 0; }
      .search-map-container #listings_cont .horizontal-search,
      .search-map-container #search_area .horizontal-search {
        padding-left: 1.875rem;
        padding-right: 1.875rem; } }
      @media screen and (max-width: 767px) and (max-width: 991px) {
        .search-map-container #listings_cont .horizontal-search span.pills > label,
        .search-map-container #search_area .horizontal-search span.pills > label {
          padding-left: 0.3125rem;
          padding-right: 0.3125rem; } }

@media screen and (max-width: 767px) {
    .search-map-container.list .map-search {
      display: none; }
    .search-map-container.list #listings_cont {
      display: block !important; }
    .search-map-container.search .map-search {
      display: none; }
    .search-map-container.search #search_area {
      display: block !important; }
    .search-map-container.map .map-search {
      display: block !important; } }

.search-map-container ul.tabs {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.25rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.search-map-container .horizontal-search {
  padding-left: 1.875rem;
  padding-right: 1.875rem; }

.search-map-container .map-search {
  padding: 0;
  max-width: none;
  min-height: 0;
  flex: 1 1 0%;
  transition: all 0.4s; }
  @media screen and (max-width: 1199px) {
    .search-map-container .map-search {
      width: 50%; } }
  @media screen and (max-width: 767px) {
    .search-map-container .map-search {
      width: 100%; } }

.search-map-container .control {
  font-size: 1rem;
  width: 2.375rem;
  height: 2.375rem;
  position: absolute;
  right: -38px;
  top: 15px;
  z-index: 10;
  padding: 0;
  cursor: pointer; }
  .search-map-container .control:after {
    content: "";
    width: 13px;
    height: 10px;
    position: absolute;
    top: 14px;
    right: 13px;
    background: url("../../img/gallery.png") 0 -358px no-repeat;
    transform: rotate(180deg);
    transition: transform 0.4s; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
      .search-map-container .control:after {
        background-image: url("../../img/@2x/gallery2.png");
        background-size: 50px auto; } }

.search-map-container.collapse .control:after {
  transform: rotate(0deg); }

#listings_cont {
  position: relative;
  padding-top: 60px;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  display: flex;
  flex-direction: column;
  max-width: none;
  min-height: 0;
  flex: 1 1 auto; }
  @media screen and (max-width: 767px) {
    #listings_cont {
      padding-top: 0; } }
  #listings_cont > header > div {
    font-size: 1.714em;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.4s 0s ease-in;
    padding: 12px 60px 0 0; }
    @media screen and (max-width: 767px) {
      #listings_cont > header > div {
        position: static; }
        #listings_cont > header > div.loading {
          display: none; } }
  #listings_cont > header.progress .caption,
  #listings_cont > header:not(.progress) .loading {
    opacity: 0;
    transition: opacity 0.4s 0s ease-in; }
  #listings_cont > header:not(.progress) .caption,
  #listings_cont > header.progress .loading {
    opacity: 1;
    transition: opacity 0.4s 0.7s ease-out; }
  #listings_cont .wrapper {
    display: flex;
    flex-direction: column;
    max-width: none;
    min-height: 0;
    flex: 1 0 auto; }
    #listings_cont .wrapper .clearfix {
      max-width: none;
      min-height: 0;
      flex: 1 1 0%; }

@media screen and (max-width: 767px) {
  .search-map-container.search #map_listings #listings_cont,
  .search-map-container:not(.search) #search_area,
  .search-map-container:not(.list):not(.search) #map_listings,
  .search-map-container div.control {
    display: none; } }

@media screen and (max-width: 767px) {
  .mobile-navigation {
    display: block !important;
    width: 100%;
    height: 46px;
    background: #f6fff9;
    border-top: 0.125rem solid #f2f2f2;
    position: absolute;
    bottom: 0;
    left: 0; }
    .mobile-navigation > div {
      height: 44px;
      float: left;
      width: 33.33333%;
      cursor: pointer;
      background: #fff;
      position: relative; }
      .mobile-navigation > div:after {
        content: "";
        width: 1.125rem;
        height: 1.125rem;
        background: url("../../img/gallery.png") 0 -405px no-repeat;
        filter: invert(1);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -0.5625rem;
        margin-left: -0.5625rem; } }
      @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 767px) and (min--moz-device-pixel-ratio: 1.5), only screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5), only screen and (max-width: 767px) and (min-resolution: 144dpi) {
        .mobile-navigation > div:after {
          background-image: url("../../img/@2x/gallery2.png");
          background-size: 50px auto; } }

@media screen and (max-width: 767px) {
      .mobile-navigation > div:not(.active):after {
        opacity: 1 !important; }
      .mobile-navigation > div.active {
        background: rgba(6, 108, 227, 0.6); }
        .mobile-navigation > div.active:after {
          background-position: -18px -405px; }
      .mobile-navigation > div.list:after {
        background-position: 0 -441px; }
      .mobile-navigation > div.list.active:after {
        background-position: -18px -441px; }
      .mobile-navigation > div.map:after {
        background-position: 0 -423px; }
      .mobile-navigation > div.map.active:after {
        background-position: -18px -423px; }
      .mobile-navigation > div:nth-child(2n) {
        border-left: 0.125rem solid #fff;
        border-right: 0.125rem solid #fff; } }
