# Configures the footer on server-generated documents
ServerSignature Off

# Enable apache morRewrite module
RewriteEngine on

# The URL prefix to be used for per-directory
RewriteBase /plugins/iFlynaxConnect/

# Limit request methods
<Limit POST GET>
	Order deny,allow
	Allow from All
</Limit>

# Modify Content-Type header
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE application/json
</IfModule>

# Prevent to display warning about deprecated $HTTP_RAW_POST_DATA
<IfModule mod_php5.c>
    php_value always_populate_raw_post_data -1
</IfModule>

# Rewrite all requests to the file
RewriteRule .* request.php [QSA,L]
